.admin {
  .create {
    .create-title {
      background-color: #212529;
      padding: 20px;
      border-radius: 5px 5px 0 0;
      h3 {
        margin-bottom: 0px;
        color: rgb(255 192 10);
      }
    }
    .create-body {
      padding: 20px;
      border: 1px solid rgb(206, 212, 217);
      #description {
        height: 80px;
      }
    }
    .create-footer {
      border: 1px solid rgb(206, 212, 217);
      padding: 10px;
      background-color: #f2f2f2;
      border-radius: 0 0 5px 5px;
    }
  }
  .table-product {
    #btnDelete {
      color: #fff;
    }
    #btnUpdate {
      color: #fff;
    }
  }
}
