/* Reset css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
}

#header {
  background-color: #f8e1db;
  padding-top: 20px;
  padding-right: 0;
  padding-bottom: 20px;
  padding-left: 0;
}

.logo {
  margin-left: 35px;
}

.menu {
  list-style: none;
  margin-left: 35px;
  margin-top: 20px;
}

.menu li {
  display: inline;
  margin-top: 0;
  margin-right: 20px;
  margin-bottom: 0;
  margin-left: 0;
}

.menu li a {
  text-decoration: none;
  color: black;
}

/* carousel */
#carousel {
  background-image: url("./images/BG.png");
  height: 700px;
  background-position: center;
  background-size: cover;
}

/* Acitivities */
#activities {
  background-color: #faf4f2;
  padding: 70px 0;
}

.activities_title {
  text-align: center;
  color: gray;
}

.activities_item {
  float: left;
  width: 25%;
  padding: 20px;
}

.clear {
  clear: both;
}

.activities_text {
  background-color: white;
  text-align: center;
  border-radius: 25px;
  padding: 40px;
}

.activities_thumb img {
  width: 100%;
  border-radius: 25px;
}

.activities_thumb {
  position: relative;
}

.activities_thumb i {
  position: absolute;
  top: 30px;
  right: 30px;
  /* left: 0;
  bottom: 0; */
  color: red;
  font-size: 30px;
  background-color: #ffffff6b;
  padding: 10px;
  border-radius: 15px;
}

.activities_text button{
    border: none;
    padding: 10px 40px;
    border-radius: 20px;
    font-size: 20px;
}

.activities_text p{
  margin: 10px 0;
}

.view_all{
  text-align: center;
}

.view_all button{
  padding: 15px 70px;
  color: orange;
  border: 1px solid orange;
  background: transparent;
  border-radius: 30px;
}