.layout {
  background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 40px 0;
}
.br {
  background-color: #fff;
  border-radius: 20px;
}
.btn {
  background-color: #a8edea;
  padding: 10px 30px;
  border-radius: 10px;
  font-weight: bold;
  display: block;
  margin-top: 20px;
}
.box {
  background-color: #fed6e3;
  padding: 20px;
  margin: 20px 0;
  border-radius: 20px;
}
