* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
}

.bg-green-100 {
  background-color: "#00FF00";
}

.text-green-100 {
  color: "#00FF00";
}

.bg-green-200 {
  background-color: "#00EE00";
}

.text-green-200 {
  color: "#00EE00";
}

.bg-green-300 {
  background-color: "#00DD00";
}

.text-green-300 {
  color: "#00DD00";
}

.header {
  padding: 15px;
  background-color: #f5f9fe;
}
.header .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.header .container .logo a {
  font-size: 22px;
  font-weight: 600;
  color: #2a73dd;
  text-decoration: none;
}
.header .container .navbar a {
  text-decoration: none;
  color: #000;
  font-size: 16px;
  font-weight: 300;
  margin-left: 20px;
  position: relative;
}
.header .container .navbar a::after {
  content: "";
  height: 3px;
  width: 100%;
  background-color: #2a73dd;
  position: absolute;
  left: 0;
  bottom: -3px;
  transform: scale(0, 1);
  transition: all 0.3s;
}
.header .container .navbar a:hover {
  color: #2a73dd;
}
.header .container .navbar a:hover::after {
  transform: scale(1, 1);
}

.carousel {
  background: url("../../img/product-header-bg.jpg");
  background-size: 100%;
}
.carousel .container {
  display: flex;
  justify-content: space-around;
  height: 800px;
  align-items: center;
}
.carousel .container .title-cyber-phone h2 {
  font-size: 60px;
  font-weight: 900;
  color: #2a73dd;
}
.carousel .container .title-cyber-phone h3 {
  font-size: 20px;
  font-weight: 600;
  color: #000;
}
.carousel .container .title-cyber-phone p {
  margin: 15px 0;
}
.carousel .container .title-cyber-phone .button-info .btn-info {
  -webkit-box-shadow: 0 3px 6px #c9d8f4;
  box-shadow: 0 3px 6px #c9d8f4;
  background: transparent;
  padding: 10px 30px;
  border: 2px solid #2a73dd;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  color: #2a73dd;
}
.carousel .container .title-cyber-phone .button-info .btn-info:hover {
  background: #2a73dd;
  color: #fff;
}
.carousel .container .title-cyber-phone .button-info .btn-shop {
  background: linear-gradient(120deg, #60a4f4, #2a73dd);
  padding: 10px 30px;
  border: 2px solid transparent;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  box-shadow: 0 3px 6px #c9d8f4;
  transition: all 0.3;
}
.carousel .container .title-cyber-phone .button-info .btn-shop:hover {
  background: #fff;
  color: #2a73dd;
}
.carousel .container .img-phone img {
  width: 100%;
}

.products .container {
  padding: 15px 0;
}
.products .container h2 {
  text-align: center;
  font-size: 50px;
  font-weight: 900;
  color: #000;
}
.products .container .row {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}
.products .container .row .col {
  width: 33.3333333333%;
  padding: 0 15px;
}
.products .container .row .col .item-0 {
  animation: fadeInDown 0.5s;
}
.products .container .row .col .item-1 {
  animation: fadeInDown 1s;
}
.products .container .row .col .item-2 {
  animation: fadeInDown 1.5s;
}
.products .container .row .col .item-3 {
  animation: fadeInDown 2s;
}
.products .container .row .col .item-4 {
  animation: fadeInDown 2.5s;
}
.products .container .row .col .item-5 {
  animation: fadeInDown 3s;
}
.products .container .row .col .item-6 {
  animation: fadeInDown 3.5s;
}
@media screen and (max-width: 767px) {
  .products .container .row .col {
    width: 100%;
  }
}
.products .container .row .col .card-item {
  box-shadow: rgb(226, 235, 252) 6px 6px 12px, rgb(255, 255, 255) -6px -6px 12px;
  padding: 15px 0;
}
.products .container .row .col .card-item img {
  width: 100%;
}
.products .container .row .col .card-item .card-body {
  padding: 0 15px;
}
.products .container .row .col .card-item .card-body h2 {
  font-size: 16px;
  font-weight: 600;
  color: #000;
  text-align: left;
}
.products .container .row .col .card-item .card-body .price {
  font-size: 16px;
  font-weight: 900;
  color: #000;
}
.products .container .row .col .card-item .card-body .desc {
  font-size: 14px;
  font-weight: 900;
  color: #000;
  font-style: italic;
}
.products .container .row .col .card-item .card-body .rating i {
  color: yellow;
}
.products .container .row .col .card-item .card-footer .btn-buy {
  background: #fff;
  padding: 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  color: #2a73dd;
  box-shadow: rgb(226, 235, 252) 6px 6px 12px, rgb(255, 255, 255) -6px -6px 12px;
}
.products .container .row .col .card-item .card-footer .btn-buy:hover {
  background: #2a73dd;
  color: #fff;
}

@keyframes fadeInDown {
  0% {
    transform: translateY(-200px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}