.bg-green-100 {
  background-color: "#00FF00";
}

.text-green-100 {
  color: "#00FF00";
}

.bg-green-200 {
  background-color: "#00EE00";
}

.text-green-200 {
  color: "#00EE00";
}

.bg-green-300 {
  background-color: "#00DD00";
}

.text-green-300 {
  color: "#00DD00";
}